#!/usr/bin/env sh

# enable color support of ls and also add handy aliases
if command -v dircolors > /dev/null; then
  if [ -f "$HOME/.dircolors" ]; then
    eval "$(dircolors -b ~/.dircolors)"
  else
    eval "$(dircolors -b)"
  fi
fi
alias ls='ls --color=auto'
alias ll='ls -alF --color=auto'
alias la='ls -A --color=auto'
alias l='ls -CF --color=auto'

if command -v exa > /dev/null; then
  alias es='exa --git -F --icons --color=always'
  alias el='exa -al --git --header -F --icons --color=always'
  alias ea='exa -a --git -F --icons --color=always'
fi

alias dir='dir --color=auto'
alias vdir='vdir --color=auto'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ag='ag --color --smart-case --hidden --color-match="1;31" --color-path="35"'
alias pt='pt --color --smart-case'
alias b="bundle"
alias be="bundle exec"
alias bc="bundle console"
alias fs="foreman start"
alias rb='rbenv'
alias g='git'
alias ct="ripper-tags --tag-relative -R --verbose . && ctags -a --sort=yes --recurse=yes --tag-relative=yes --fields=+ails --extras=+q --exclude=node_modules/* --exclude=.idea/* --totals=yes ."
alias gt="gotags -R=true -sort=true -tag-relative=true -silent=false -f='tags' ."
alias tmux="tmux -2"
alias tm="tmux -2"
alias tms="tmux -2 new -s"
alias tmsa="tmux -2 attach-session -t"
alias tma="tmux -2 attach"
alias mkdir='mkdir -pv'
alias ..='cd ..'
alias rsync-achimvxzPS--stats='rsync -achimvxzPS --stats'
alias _='sudo'
alias xo='xdg-open'

if command -v fzf > /dev/null; then
  if [ "$(uname)" = Darwin ]; then
    o() {
      open "$(fzf)"
    }
  else
    o() {
      xdg-open "$(fzf)"
    }
  fi
  v() {
      vim "$(fzf)"
  }
  n() {
      nvim "$(fzf)"
  }
elif command -v fasd > /dev/null; then
  if [ "$(uname)" = Darwin ]; then
    alias o='LANG=C fasd -a -e open'
    alias v='LANG=C fasd -f -e vim -b viminfo'
  else
    alias o='fasd -a -e xdg-open'
    alias v='fasd -f -e vim -b viminfo'
  fi
fi

if command -v docker > /dev/null; then
  alias dk='docker'
fi
if command -v docker-compose > /dev/null; then
  alias dkc='docker compose'
fi

if [ "$(uname)" != Darwin ]; then
  alias chown='chown -c --preserve-root'
  alias chmod='chmod -c --preserve-root'
  alias chgrp='chgrp -c --preserve-root'
fi

alias wanip='dig TXT +short o-o.myaddr.l.google.com @ns1.google.com'

GRC=$(command -v grc)
if [ "$TERM" != dumb ] && [ -n "$GRC" ]; then
  alias colourify="$GRC -es --colour=auto"
  alias configure='colourify ./configure'
  alias diff='colourify diff'
  alias make='colourify make'
  alias gcc='colourify gcc'
  alias g++='colourify g++'
  alias as='colourify as'
  alias gas='colourify gas'
  alias ld='colourify ld'
  alias netstat='colourify netstat'
  alias ping='colourify ping'
  alias traceroute='colourify /usr/sbin/traceroute'
  alias head='colourify head'
  alias tail='colourify tail'
  alias dig='colourify dig'
  alias mount='colourify mount'
  alias ps='colourify ps'
  alias mtr='colourify mtr'
  alias df='colourify df'
  alias cat='colourify cat'
fi

alias watch='watch --color'
alias rm_org='find . -iname "*.orig" -exec rm {} \;'
alias ducks='du -cks -- * | sort -rn | head'

if command -v batcat > /dev/null; then
 alias bat=batcat
fi

if command -v kubecolor >/dev/null; then
  alias kubectl="kubecolor"
fi

if command -v kubectx > /dev/null; then
 alias kc=kubectx
fi

if command -v kubens > /dev/null; then
 alias kns=kubens
fi

alias lazyvim="NVIM_APPNAME=lazyvim nvim"
alias nvchad="NVIM_APPNAME=nvchad nvim"

if [ -f "$HOME/.aliases.local" ]; then
  source "$HOME/.aliases.local"
fi
