.DS_Store
.svn
*~
.*.swp
*.
*.cache
*.dotCover
*.DotSettings
*.esent
*.log
*.orig
*.pidb
*.stresult
*.suo
*.swp
*.user
*.userprefs
*.vsmdi
*.vsp*
*.zip
*~
.bundle
.sass-cache
Build
Publish
TestResults
[Bb]in
[Oo]bj
[lL]ogs
_ReSharper.*
build
bundle
**/**/**/content/styles
coverage*
deploy
drop
merged
nuget
[Pp]ackages
~$*
fubu-content
tempIIS.config
*.[Nn][Cc]runch*
*_[Nn][Cc]runch*
tags
